/* You can add global styles to this file, and also import other style files */
@import "./variables.scss";
@import "./node_modules/uikit/src/scss/variables-theme.scss";
@import "./node_modules/uikit/src/scss/mixins-theme.scss";
@import "./node_modules/uikit/src/scss/uikit-theme.scss";

/* angular-cli file: src/styles.css */
@import "../node_modules/angular-calendar/css/angular-calendar.css";

/* ng-bootstrap */
@import "../node_modules/bootstrap/dist/css/bootstrap.min.css";

* {
    font-family: 'Maven Pro', sans-serif;
}

.uk-input {
    border-radius: 5px;
    border: none;
}

.submit {
    border-radius: 5px;
}

.invalid {
    border: 1px solid #DB5461;
}

.error-message {
    margin-top: 10px;
    color: #DB5461
}