// Button
$button-primary-background:                      #FF7434;
$button-primary-color:                           white !default;
$button-primary-hover-background:                darken($button-primary-background, 5%) !default;
$button-primary-active-background:               darken($button-primary-background, 10%) !default;