.user-page {
    width: 100%;
    height: 100vh;
}

.column {
    float: left;
}

.right-column {
    width: 70%;
    height: 100%;
}

.left-column{
    width: 30%;
    height: 100%;
}

.contenedor{
    height: 100%;
    width: 100%;
}

.lock{
    display: flex;
    align-items: center;
    text-align: center;
    height: 80%;
    width: 100%;
}

.lock-aux{
    width: 35%;
}
