<div class="display-header">
  <nav class="uk-navbar-container uk-navbar header">

    <div class="uk-navbar-left">
      <div class="uk-navbar-item">
        <form [formGroup]="searchForm">
            <input formControlName="search" class="uk-input uk-form-width-large" type="text" placeholder="Buscar amigos">
            <button class="uk-button uk-button-default"><span uk-icon="search"></span></button>
        </form>
      </div>
    </div>

    <div class="uk-navbar-right">

        <ul class="uk-navbar-nav">
            <li class="uk-active"><a href="#" class="uk-icon-link uk-margin-small-right boton1" uk-icon="comment"></a></li>
            <li><img class="logo" src="../../../assets/logo.png"></li>
        </ul>

    </div>

</nav>
  <!-- <p uk-margin>

    <input class="uk-input buscar" type="text" placeholder="Buscar amigos"> -->
    <!-- <button class="uk-button uk-button-default buscar">Default</button> -->
    <!-- <a href="#" class="uk-icon-link uk-margin-small-right boton-buscar" uk-icon="search"></a>

    <img class="logo" src="../../../assets/logo.png">
    <a href="#" class="uk-icon-link uk-margin-small-right boton1" uk-icon="file-edit"></a>

    <a href="#" class="uk-icon-link uk-margin-small-right boton1" uk-icon="comment"></a>
</p> -->
</div>
