<p class="porQueNoFunciona">Recorda que las Actividades solo las ves vos!</p>

<div class="uk-modal-body">
    <form class="uk-form-horizontal uk-margin-large" [formGroup]="newActivityForm">
      <ul class="uk-list uk-list-divider">
        <li>
            <div class="uk-margin">
              <label class="uk-form-label">Nombre</label>
              <div class="uk-form-controls">
                  <input class="uk-input" type="text" placeholder="Some text...">
              </div>
          </div>
          </li>
        <li>
            <div class="uk-margin">
                <label class="uk-form-label">Dia</label>
                <div class="uk-form-controls">
                    <select class="uk-select">
                        <option>Seleccionar Dia</option>
                        <option *ngFor="let day of days">{{day}}</option>
                    </select>
                </div>
            </div>
        </li>
    <li>
      <div class="uk-margin">
        <label class="uk-form-label">Hora de inicio:</label>
        <div class="uk-form-controls">
            <input class="uk-input" type="text" placeholder="Some text...">
        </div>
    </div>
    </li>
    <li>
      <div class="uk-margin">
        <label class="uk-form-label">Hora de fin:</label>
        <div class="uk-form-controls">
            <input class="uk-input" type="text" placeholder="Some text...">
        </div>
    </div>
    </li>
    </ul>
  </form>
</div>
<div class="uk-modal-footer uk-text-right">
    <button class="uk-button uk-button-default uk-modal-close izquierda" type="button">Cancelar</button>
    <button class="uk-button uk-button-primary" type="button">Guardar</button>
</div>
