<div class="column left-column">
  <div class="display-container">

    <div>
      <img class="foto-usuario" src="../../../assets/usuario.jpg">
      <h2 class="name">{{user?.name}} {{user?.surname}}</h2>
    </div>    
  
    <!-- <app-menu-izq-1></app-menu-izq-1> -->
    <div >
      <button class="uk-button uk-button-text uk-width-1-1">Amigos</button>
      <button class="uk-button uk-button-text uk-width-1-1">Otra Cosa</button>
    </div> 
    
    <!-- <app-menu-izq-2></app-menu-izq-2> -->
    <div class="menu-izq-3">
      <button class="uk-button uk-button-secondary uk-width-1-1 boton-mi3">Configuración</button>
      <button class="uk-button uk-button-secondary uk-width-1-1 boton-mi3" (click)="onLogout()">Cerrar sesión</button>
    </div> 
  </div>

</div>