  .izquierda{
    float: left;
  }

  .centrado{
    text-align: center;
  }

  .marcoImputs { /*Renglones del formulario*/
      background-color: rgb(175,175,175); /*Color de relleno*/
      border-style: solid;
      border-color: rgb(200,200,200); /*Color borde, igual al fondo del formulario*/
      padding: 9px;
  }

  .derecha{
    float: right;
  }
