<div class="column left-column">
    <div class="display-container">
  
      <div>
        <img class="foto-usuario" src="../../../assets/usuario.jpg">
        <h2 class="name">{{user?.name}} {{user?.surname}}</h2>
      </div>    
    

      <div>
        <button class="uk-button uk-button-secondary uk-width-1-1 boton-mi3">{{amistad}}</button>
      </div> 
      <div>
        <button class="uk-button uk-button-secondary uk-width-1-1 boton-mi3">Amigos en comun</button>
      </div> 
      
      <!-- <app-menu-izq-2></app-menu-izq-2> -->
      <div class="menu-izq-3">
        <button class="uk-button uk-button-secondary uk-width-1-1 boton-mi3" (click)="goToHome()">Volver al inicio</button>
      </div> 
    </div>
  
  </div>