.display-container {
    position: relative;
    height: 90vh;
    top: 5%;
    width: 70%;
    margin: auto;
}

.column {
    float: left;
}

.left-column {
    width: 100%;
    height: 100%;
    background-color: #F7F8FC;
}


.foto-usuario {
    border-radius: 100px;
    width: 65%;
    display: block;
    margin: auto;
}

.name {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 100px;
}


.menu-izq-3{
    position: absolute;
    bottom: 8px;

}

.boton-mi3{
    margin-top: 3px;
}
