.display-content{
    width: 90%;
    height: 60%;
    padding: 5%;
}

.columna{
    height: 100%;
    float: left;
}

.columna2{
    height: 100%;
    float: left;
}

.horarios{
    width: 5%;
}

.dia{
    width: 10%;
}