.display-container {
    position: relative;
    top: 30%;
    padding: 3rem;
}

.landing-page {
    width: 100%;
    height: 100vh;
}

.left-column {
    width: 40%;
    height: 100%;
    background-color: #F7F8FC;
}