.display-container {
    position: relative;
    top: 20%;
    width: 70%;
    margin: auto;
}

.landing-page {
    width: 100%;
    height: 100vh;
}

.left-column {
    width: 40%;
    height: 100%;
    background-color: #F7F8FC;
}

.subtitle{
    color: #62768D;
    margin-bottom: 40px;
}