<div class="landing-page">

  <div class="column left-column">

    <div class="display-container">
      <div *ngIf="isRegister">
        <h3 class="title">Registro</h3>
        <p class="subtitle">Registrate en Bache para empezar a chatear menos, y verse mas.</p>  
      </div>
  
      <div *ngIf="isLogin">
        <h3 class="title">Inicio de Sesión</h3>
        <p class="subtitle">Inicia sesión para tener acceso a las últimas actualizaciones de tus amigos.</p>  
      </div>

      <ul uk-tab>
        <li (click)="onDisplayLogin()" class="uk-active"><a href="#">Iniciar Sesión</a></li>
        <li (click)="onDisplayRegister()" class="uk-active"><a href="#">Registrarme</a></li>
      </ul>
    
    
      <app-login *ngIf="isLogin"></app-login>
      <app-register *ngIf="isRegister"></app-register>
    </div>

  </div>

  <div class="column right-column">
    <img class="logo" src="../../../assets/logo.png">
  </div>
</div>


