<div class="landing-page">

  <div class="column left-column">

    <div class="display-container">
      <div *ngIf="isRegister">
        <h3 class="title">Registro</h3>
        <p class="subtitle">Registrate en Bache para empezar a chatear menos, y verse mas.</p>  
      </div>
  
      <div *ngIf="isLogin">
        <h3 class="title">Inicio de Sesión</h3>
        <p class="subtitle">Inicia sesión para tener acceso a las últimas actualizaciones de tus amigos.</p>  
      </div>

      <ul uk-tab>
        <li (click)="onDisplayLogin()" class="uk-active"><a href="#">Iniciar Sesión</a></li>
        <li (click)="onDisplayRegister()" class="uk-active"><a href="#">Registrarme</a></li>
      </ul>
    
    
      <app-login *ngIf="isLogin"></app-login>
      <app-register *ngIf="isRegister"></app-register>
    </div>

  </div>

  <div class="column right-column">
    <div class="aux1">
      <div class="aux2">
        <p class="img-aux"></p>
        <img class="logo" src="../../../assets/logo.png">
        <p class="img-aux"></p>
      </div>
      <div class="aux2">
        <p class="text-aux"></p>
        <!-- <p class="text">Una Red Social Argentina que te facilita encontrar el tiempo para juntarte con tus amigos.</p>  -->
        <p class="text">En un mundo donde todo se volvió digital, volvamos a lo clasico, volvamos a vernos a la cara y no a través de una pantalla. Bache es una Red Social Argentina que te facilita encontrar el tiempo para juntarte con tus amigos </p> 
        <p class="text-aux"></p>
      </div>
      <div class="aux2">
        <p class="text-aux"></p>
        <p class="text">El tiempo lo tenes, hacete un BACHE y encontralo. A chatear menos y verse mas!!!</p>
        <p class="text-aux"></p>
      </div> 
    </div>
  </div>
</div>


